/* As elm-css doesn't have support for CSS Grid, these styles still 
   have to be written in CSS.
*/

body {
    display: grid;           
    grid-template-areas:
            "header-logo header-logo navigation navigation"
            "sidebar content content content"
            "footer foolter footer footer";
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header-logo {
    grid-area: header-logo;
}

.header-logo img {
    float: left;
}

.header-logo h1 {
    float: left;
}

.navigation {
    grid-area: navigation;
}

.footer {
    grid-area: footer;
}

@media only screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-areas:
            "header-logo header-logo navigation navigation"
            "sidebar     content     content    content"
            "footer      footer     footer     footer";
    }
}
